<% layout('layout/boilerplate') %>
<div class="container mt-4">
    <h2 class="text-center mb-4">Your Shortened URLs</h2>
    <div class="container mt-4">
        <div class="row">
            <% allUrls.forEach(url => { %>
                <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow-sm">
                
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                        
                                    <div>
                                        <p class="card-text mb-1"><strong>Short URL:</strong></p>
                                        <p class="card-text mb-1"><a href="<%= baseUrl %>/r/<%= url.shortId %>" target="_blank"><%= `${displayBaseUrl}/r/${url.shortId}` %> </a></p>
                                        <p class="card-text mb-1 text-truncate"><strong>Original URL:</strong> <%= `${url.redirectURL}` %></p>
                                        <p class="mb-1"><strong>Clicks:</strong> <%= url.visitHistory.length %></p>
    
                                        <p class="mb-3">
                                            <strong>Expires in: </strong>
                 
                                            <%= url.isExpired ?
                                            'Expired' : `${url.daysLeft} days (${new Date(url.expiresAt).toLocaleDateString()})` %>
                                        </p>
                                    </div>
                  
                                    <div class="d-flex gap-2">
                                        <a href="/url/<%= url._id %>" class="btn btn-sm btn-outline-primary">Details</a>
                                  
                                        <form action="/delete/<%= url._id %>" method="POST">
                                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                        </form>
  
                                    </div>
                                </div>
                            </div>
      
                            <div class="col-md-4 d-flex align-items-center justify-content-center p-2">
                                <% if (url.qrCode) { %>
                                    <img src="<%= url.qrCode %>" alt="QR Code" class="img-fluid rounded" max=""/>
                                <% } else { %>
                                    <p class="text-muted">No QR</p>
                   
                                <% } %>
                            </div>
                        </div>
                    </div>
             
                </div>
            <% }) %>
        </div>
    </div>
</div>